/.idea
/bitrix
/upload
/.htaccess
/webstat
web.config
yandex*.txt
google*.html
cmsmagazine*.txt
.DS_Store

node_modules/
*.lock
*-lock.json
mix-manifest.json
mix.js.map

local/php_interface/vendor/
local/php_interface/include/.constants_for_ide.php
local/php_interface/log/

robots.txt
sitemap.xml
sitemap_*.xml