#         https://www.youtube.com/watch?v=15-ISooslbo&list=PLD-piGJ3Dtl1tC4ZM3gtvv3LvfSAF2gI2&ab_channel=WebForMySelf
#
#       	        httpd.conf - основной конфигурационный файл Appache
#       	        .htaccess - файл дополнительной конфигурации Appache (не влияеет на основной файл конфигурации, только для определенного пространства!)
#       	        Директивы будут действовать на папку и дочерние папки!
#                   Директивы применяются сразу на лету, без перезагрузки сервера
#
#       	        2 правила:
#       	        1) ошибка 500 - ошибка конфигурации в htaccess
#       	        2) если ошибка исправлена, а ошибка есть, то страница закешировалась!!! Чистим кеш!!!
#
#
#                   ----  ДИРЕКТИВЫ  ----  ( Директива Значение )
#
#           https://www.nic.ru/help/fajl-htaccess-nastrojka-perenapravlenij-i-upravlenie-konfiguraciej-veb-servera_6793.html
#           http://www.htaccess.net.ru/ - Документация на русском



# ---------------------------------------------------- №1 --------------------------------------------------------------

# Установка кодировки сервера
AddDefaultCharset utf-8


# Запрет листинга каталогов, показ папок и файлов в браузере, будет 403 ошибка - запрет доступа
# Options +Indexes - разрешает
#Options -Indexes


#  Открытие файлов без указания расширения !! Использовать аккуратно, поскольку может привести к неожиданному результату!!!
#  Открывая http://test-php/htaccess/file  отдаст file.php (file.jpg не отдастся) , нужно следить за уникальностью
#Options +MultiViews


# Переопределние индексного файла (может быть любой файл)
#DirectoryIndex file.jpg


# Стилизация листинга каталога
#IndexOptions FancyIndexing


# Исключение из листинга файлов определенных файлов и расширений
# IndexIgnore * - игнорировать все файлы
#IndexIgnore *.rar *.jpg index.txt


# ---------------------------------------------------- №2 --------------------------------------------------------------


# по умолчанию сервер просто отдает файлы (html, css ... ), кроме расширения php, его он отдаетс интерпретатору php.
# отдать интерпретатору php файлы с расширением
#AddType application/x-httpd-php .html .htm .txt



# Страницы ошибок
# можно задавать собственные страницы ошибок, вместо дефолтных ошибок сервера (404, 403 ..) .
# Можно задавать отностиельные и абсолютные пути. При абсолютном url в браузере поменяется!
#ErrorDocument 403 /htaccess/errors/page403.html
#ErrorDocument 404 http://test-php/htaccess/errors/page404.html
#ErrorDocument 404 /htaccess/errors/page404.html




# ---------------------------------------------------- №3 --------------------------------------------------------------
# Управление доступом


#   Order Deny,Allow  или  Order  Allow,Deny (без пробела!!!) - не обязательная директория
#   Deny,Allow - запрещаем для всех Deny, кроме перечисленных Allow
#   Allow,Deny - разрешаем для всех Allow, кроме перечисленных Deny


#   Запрети всем доступ к сайту, Кроме
#Order Deny,Allow
#Deny from all
#Allow from 127.0.0.1 127.0.0.2

#   Можно в папке errors открываем доступ, чтобы видеть нашу заглушку, а не стандартную (либо используем FilesMatch)
#   2 спопсоб, чтобы видеть нашу заглушку, описано ниже
#   <FilesMatch "page403.html">
#   Allow from all
#   </FilesMatch>

#   В папке folder закрыть доступ
#!!!!! Браузеру, Клиенту содержимое в этом случае не отдастся, ОДНАКО скриптам содержимое доступно , php до содержимого достучится !!!!



#   Ограничение для правил
# можно использовать спец символы ?-один любой символ,  *-любое кол-во символов
# либо регулярные выражения  <FilesMatch "регулярка">
#<Files "file*.jpg">
#Deny from all
#</Files>

#<FilesMatch "file.jpg|test.jpg">
#Deny from all
#</FilesMatch>




# ---------------------------------------------------- №4 --------------------------------------------------------------

#   Редиректы - используются для seo, для ЧПУ.
#   Редиректы постоянно кешируются, чтобы не чистить постоянно кеш в браузере ставим: network->disable cashe
#   Редиректит со статусом 302 - это для поисковиков, данный переехал временно, скорее вернется обратно. Из индекса поисковика удалять не нужно.
#                       301 - перехал навсегда, говорит поисковику, удали из своего индекса старый адрес
#                       303 -
#                       410 - удален(мертвый адрес), не указываем 3 аргумент.
# !!!  Здесь при редиректе меняется url адрес , при использовании modrewrite можно задать параметр  !!!


#   Redirect - простой редирект , используем абсолютные адреса (со слешем)
#Redirect /htaccess/ http://ya.ru/
#Redirect 301 /htaccess/file.html /htaccess/file.php


#   RedirectMatch - простой редирект с регуляркой , используем абсолютные адреса (со слешем)
#Downloads.7z редирект на file.php
#RedirectMatch 301 .*?([^/]+\.7z) /htaccess/file.php?file=$1





# ---------------------------------------------------- №5 --------------------------------------------------------------
# mod_rewrite







